name: CI

on:
  push:
    branches-ignore:
      - 'event**'
  pull_request:

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    container: wpilib/roborio-cross-ubuntu:2024-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Grant execute permission
        run: chmod +x gradlew
      
      - name: Check formatting
        run: ./gradlew spotlessCheck
      
      - name: Build and test
        run: ./gradlew build test --no-daemon
